body {
    font-family: Arial;
    background-color: #f2f2f2;
    padding: 20px;
}

.container {
    display: flex;
    gap: 20px;
}

.box {
    background: white;
    padding: 15px;
    width: 300px;
    border-radius: 5px;
}

input, textarea {
    width: 100%;
    margin-bottom: 10px;
}
